* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overscroll-behavior: none;
}

body {
  background: #ededed;
  font-family: "Poppins", sans-serif;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  padding: 20px 20px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  color: #222222;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  width: fit-content;
}

nav .doc-dropdown {
  position: absolute;
  background: #fff;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  right: 0;
  top: 35px;
  list-style: none;
  border-radius: 5px;
  min-width: 170px;
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 9;
}

nav .doc-dropdown li {
  font-size: 13px;
  font-weight: 300;
  padding: 15px 15px;
  display: flex;
  gap: 5px;
  align-items: center;
  user-select: none;
  text-transform: capitalize;
}

nav .doc-dropdown li:hover {
  background: #1d61ff;
  cursor: pointer;
  color: #fff;
}

nav svg {
  color: #1d61ff;
  font-size: 34px;
}

nav .doc-dropdown li svg {
  font-size: 16px;
  flex-shrink: 0;
  color: #222222;
}

nav .doc-dropdown li:hover svg {
  color: #fff;
}

nav button.drop-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav button.drop-btn svg {
  flex-shrink: 0;
  font-size: 24px;
  color: #979797;
}

nav button.add-btn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

nav button.add-btn svg {
  color: #222222;
  font-size: 22px;
}

.wrapper {
  flex: 1;
  min-height: 0;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  gap: 20px;
  padding: 20px;
}

.upload,
.diff {
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 10px;
  width: 300px;
  height: 100%;
  background: #fff;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.overflow-wrapper {
  padding: 0 20px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  flex: 1;
}

.diff-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2b2b2be0;
  z-index: 999999;
}

.diff-modal-wrapper .close {
  background: none;
  border: none;
  color: #fff;
  font-size: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.diff-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95vw;
  max-width: 700px;
  height: calc(100vh - 40px);
  max-height: 500px;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.diff-content {
  min-height: 0;
  flex: 1;
  overflow: auto;
  padding: 0 25px;
}

.diff-modal h2 {
  font-size: 16px;
  font-weight: 500;
  padding: 0 20px 15px 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #222222;
  display: flex;
  align-items: center;
  gap: 8px;
}

.diff-modal h2 svg {
  font-size: 16px;
}

.query {
  padding: 20px 0;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 10px;
  min-width: 600px;
  background: #fff;
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.show-diff-btn {
  cursor: pointer;
  color: #1d61ff;
  padding: 8px 12px;
  font-size: 13px;
  background: #fff;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  display: block;
  margin-left: auto;
}

.show-diff-btn:hover {
  background: #f9f9f9;
}

.block-headings {
  font-size: 16px;
  font-weight: 500;
  padding: 0 20px 15px 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #222222;
  display: flex;
  align-items: center;
  gap: 8px;
}

.block-headings svg {
  font-size: 17px;
}

#version-dropdown {
  margin-left: 10px;
  padding: 4px 8px;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  color: #646464;
  cursor: pointer;
  text-transform: capitalize;
}

.query #search {
  margin-top: 10px;
  width: 100%;
  display: block;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  padding: 15px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #222222;
}

.query .search-btn {
  background: #1d61ff;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 10px 14px;
  margin: 20px 0 0 auto;
  display: block;
  font-size: 14px;
  cursor: pointer;
}

.query .search-btn:hover {
  background: #1d61ffe5;
}

.query .input-container {
  padding: 0 20px 20px 20px;
}

.block {
  margin-top: 20px;
  border-bottom: 1px solid #e9e9e9;
}

.dropzone {
  text-align: center;
  width: 100%;
  display: block;
  margin: 5px 0 5px 0;
  border: 1px solid #d5d5d5;
  border-style: dashed;
  padding: 25px 5px;
  border-radius: 5px;
  cursor: pointer;
}

.dropzone p {
  font-weight: 500;
  font-size: 14px;
  color: #222222;
}

.dropzone span {
  font-weight: 400;
  font-size: 11px;
  color: #979797;
}

.upload-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background-color: #2b2b2be0;
}

.upload-modal-wrapper .close {
  background: none;
  border: none;
  color: #fff;
  font-size: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.upload-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95vw;
  max-width: 500px;
  height: calc(100vh - 40px);
  max-height: 270px;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.upload-content {
  min-height: 0;
  flex: 1;
  overflow: auto;
  padding: 0 25px;
}

.upload-modal h2 {
  font-size: 16px;
  font-weight: 500;
  padding: 0 20px 15px 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #222222;
  display: flex;
  align-items: center;
  gap: 8px;
}

.upload-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 20px;
}

.upload-content .upload-btn {
  background: #1d61ff;
  color: #fff;
  border-radius: 5px;
  border: none;
  width: 100px;
  height: 34px;
  padding: 10px 14px;
  margin: 25px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}

.upload-content p.selected {
  color: #979797;
  font-weight: 300;
  font-size: 13px;
  text-align: center;
}

.upload-content p.selected span {
  font-weight: 500;
}

.upload-content .upload-btn:hover {
  background: #1d61ffe5;
}

.create-doc-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2b2b2be0;
  z-index: 999999;
}

.create-doc-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95vw;
  max-width: 500px;
  height: calc(100vh - 40px);
  max-height: 250px;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.create-doc-content {
  min-height: 0;
  flex: 1;
  overflow: auto;
  padding: 0 25px;
}

.create-doc-modal h2 {
  font-size: 16px;
  font-weight: 500;
  padding: 0 20px 15px 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #222222;
  display: flex;
  align-items: center;
  gap: 8px;
}

.create-doc-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 20px;
}

.create-doc-content .create-doc-btn {
  background: #1d61ff;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 10px 14px;
  margin: 15px auto 0 auto;
  display: block;
  font-size: 14px;
  cursor: pointer;
}

.create-doc-content p.selected {
  color: #979797;
  font-weight: 300;
  font-size: 13px;
  text-align: center;
}

.create-doc-content p.selected span {
  font-weight: 500;
}

.create-doc-content .create-doc-btn:hover {
  background: #1d61ffe5;
}

.create-doc-content input {
  width: 100%;
  display: block;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  padding: 10px;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #222222;
}

.create-doc-content p {
  color: red;
  font-size: 12px;
  padding-left: 4px;
}

.create-doc-modal-wrapper .close {
  background: none;
  border: none;
  color: #fff;
  font-size: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.folder .block-sub-headings {
  font-weight: 300;
  font-size: 14px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 10px;
}

.folder h4.block-sub-headings {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #222222;
  text-transform: capitalize;
}

.folder .empty {
  color: #979797;
  font-weight: 300;
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
}

.upload-error {
  color: red;
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
}

.loader {
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.upload-versions-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.upload-versions {
  font-size: 12px;
  display: flex;
  align-items: center;
  user-select: none;
}

.upload-versions span {
  width: 25px;
}

.upload-versions span svg {
  margin-top: 5px;
  margin-left: 4px;
  color: #979797;
}

.upload-versions p {
  margin: 0;
  font-weight: 500;
  letter-spacing: 1px;
}

.upload-versions:nth-child(5n + 1) {
  color: #dd6b00d7;
}

.upload-versions:nth-child(5n + 2) {
  color: #0092e6de;
}

.upload-versions:nth-child(5n + 3) {
  color: #38a169de;
}

.upload-versions:nth-child(5n + 4) {
  color: #815ad5e0;
}

.upload-versions:nth-child(5n + 5) {
  color: #e53e3ee1;
}

.query-header {
  height: 55px;
}
