* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overscroll-behavior: none;
}

body {
  background: #e1e1e1;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  padding: 25px;
  background: #fff;
}

nav h1 {
  color: #000;
  font-size: 18px;
  font-weight: 600;
}

.wrapper {
  flex: 1;
  min-height: 0;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  gap: 20px;
  padding: 20px;
}

.upload,
.diff {
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 10px;
  width: 300px;
  height: 100%;
  background: #fff;
  padding: 20px 0;
}

.overflow-wrapper {
  padding: 0 20px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.diff-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2b2b2be0;
}

.diff-modal-wrapper .close {
  background: none;
  outline: none;
  border: none;
  color: #fff;
  font-size: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.diff-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95vw;
  max-width: 700px;
  height: calc(100vh - 40px);
  max-height: 500px;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px 0;
  overflow: hidden;
}

.diff-content {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 0 25px;
}

.query {
  padding: 20px 0;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 10px;
  min-width: 600px;
  background: #fff;
  flex: 1;
  height: 100%;
}
