* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overscroll-behavior: none;
}

body {
  background: #ededed;
  font-family: "Poppins", sans-serif;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  padding: 20px;
  background: #fff;
}

nav h1 {
  color: #222222;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
}

nav svg {
  font-size: 30px;
}

.wrapper {
  flex: 1;
  min-height: 0;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  gap: 20px;
  padding: 20px;
}

.upload,
.diff {
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 10px;
  width: 300px;
  height: 100%;
  background: #fff;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.overflow-wrapper {
  padding: 0 20px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  flex: 1;
}

.diff-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2b2b2be0;
}

.diff-modal-wrapper .close {
  background: none;
  outline: none;
  border: none;
  color: #fff;
  font-size: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.diff-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95vw;
  max-width: 700px;
  height: calc(100vh - 40px);
  max-height: 500px;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.diff-content {
  min-height: 0;
  flex: 1;
  overflow: auto;
  padding: 0 25px;
}

.diff-modal h2 {
  font-size: 16px;
  font-weight: 400;
  padding: 0 20px 15px 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #222222;
}

.query {
  padding: 20px 0;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 10px;
  min-width: 600px;
  background: #fff;
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.show-diff-btn {
  cursor: pointer;
  color: #1d61ff;
  padding: 8px 12px;
  font-size: 13px;
  background: #fff;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
}

.show-diff-btn:hover {
  background: #f9f9f9;
}

.block-headings {
  font-size: 16px;
  font-weight: 400;
  padding: 0 20px 15px 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #222222;
  display: flex;
  align-items: center;
  gap: 8px;
}

.block-headings svg {
  font-size: 17px;
}

#version-dropdown {
  margin-left: 10px;
  padding: 4px 8px;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  color: #646464;
  cursor: pointer;
  text-transform: capitalize;
}

.query #search {
  margin-top: 10px;
  width: 100%;
  display: block;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  padding: 15px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #222222;
}

.query .search-btn {
  background: #1d61ff;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 10px 14px;
  margin: 20px 0 0 auto;
  display: block;
  font-size: 14px;
  cursor: pointer;
}

.query .search-btn:hover {
  background: #1d61ffe5;
}

.query .input-container {
  padding: 0 20px 20px 20px;
}

.block {
  margin-top: 20px;
  border-bottom: 1px solid #e9e9e9;
}

.query .query-response {
}
